@page
@model GAvicola.App.Frontend.Pages.Operarios.indexModel
@{
}
<h1>Listado Operarios</h1>
<a class= "btn btn-primary " asp-page=".\Create">Crear Operario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
      
        </tr>
    </thead>


    @foreach (var Operario in Model.operario)
    {
        <tr>
            <td>@Operario.Nombre</td>
            <td>@Operario.Documento</td>
            <td>@Operario.Telefono</td>
            <td>@Operario.Correo</td>

            <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@Operario.Id">Detalle</a></td>
            <td><a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Operario.Id">Editar</a></td>
        </tr>
    }
      </tbody>
   </thead>
</table>

