@page
@model GAvicola.App.FRrontend.Pages.Personas.Details2Model
@{
}
<h1>Detalles Persona</h1>
<table class= "table table= striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.persona.Id</td>

    </tr>

    <tr>
        <th scope="col">Usuario</th>
        <td>@Model.persona.Usuario</td>

    </tr>
    <tr>
        <th scope="col">Clave</th>
        <td>@Model.persona.Clave</td>

    </tr>
 <tr>
        <th scope="col">Nombre</th>
        <td>@Model.persona.Nombre</td>

    </tr>

<tr>
        <th scope="col">Documento</th>
        <td>@Model.persona.Documento</td>

    </tr>
    <tr>
        <th scope="col">NumeroTelefono</th>
        <td>@Model.persona.NumeroTelefono</td>

    </tr>
<tr>
        <th scope="col">Direccion</th>
        <td>@Model.persona.Direccion</td>

    </tr>
    <tr>
        <th scope="col">Correo</th>
        <td>@Model.persona.Correo</td>

    </tr>
<tr>
        <th scope="col">IdVeterinario</th>
        <td>@Model.persona.IdVeterinario</td>

    </tr>
    <tr>
        <th scope="col">IdOperario</th>
        <td>@Model.persona.IdOperario</td>

    </tr>
    <tr>
        <th scope="col">IdAuxiliar</th>
        <td>@Model.persona.IdAuxiliar</td>

    </tr>
    <tr>
        <th scope="col">Tipo</th>
        <td>@Model.persona.Tipo</td>

    </tr>
    <tr>
        <th scope="col">Activo</th>
        <td>@Model.persona.Activo</td>

    </tr>


</table>

      <a class="btn btn-secondary" asp-page=".\Index2">Volver</a>
