@page
@model GAvicola.App.Frontend.Pages.Personas.Index2Model
@{
}
<h1>Listado de Usuarios</h1>
<a class="btn btn-primary " asp-page=".\create2">Crear Usuarios</a>
<table class="table table -striped">
     <thead>
            
            <tr>
                
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                
         <tbody>
                @foreach (var Persona in Model.Personas)
                {
                <tr>
                    <td>@Persona.Nombre</td>
                    <td>@Persona.Documento</td>
                    <td>@Persona.Telefono</td>
                    <td>@Persona.Direccion</td>
                    

                    <td><a class="btn btn-secondary" asp-page= "./Details2" asp-route-id="@Persona.Id">Detalle</a></td>
                    <td><a class="btn btn-secondary" asp-page= "./Edit2" asp-route-id="@Persona.Id">Editar</a></td>
                </tr>
                    
                }
            </tbody>
        </thead>
    </table>