@page
@model GAvicola.App.Frontend.pages.Galpones.Details1Model
@{
}
<h1>Detalles Galpon</h1>
<table class= "table tabLe= striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.galpon.Nombre</td>

    </tr>

    <tr>
        <th scope="col">Latitud</th>
        <td>@Model.galpon.Latitud</td>

    </tr>
    <tr>
        <th scope="col">Longitud</th>
        <td>@Model.galpon.Longitud</td>

    </tr>
    <tr>
        <th scope="col">Tipo</th>
        <td>@Model.galpon.Tipo</td>

    </tr>
    <tr>
        <th scope="col">NumAves</th>
        <td>@Model.galpon.NumAves</td>

    </tr>
    <tr>
        <th scope="col">FechaIngreso</th>
        <td>@Model.galpon.FechaIngreso</td>

    </tr>
    <tr>
        <th scope="col">FechaSalida</th>
        <td>@Model.galpon.FechaSalida</td>

    </tr>
 <tr>
        <th scope="col">Activo</th>
        <td>@Model.galpon.Activo</td>

    </tr>

<tr>
   <th scope="col">Veterinario</th>
        @if (Model.galpon.Veterinario == null)
        {
            <th> 
                <a class= "btn btn-secondary" asp-page="./AddVeterinarios" asp-route-id="@Model.galpon.Id">Asignar Veterinario1</a>
            </th>
}
        else
        {
            <td>@Model.galpon.Veterinario.Nombre</td>
        }
    </tr>
    <tr>

    <th scope="col">Operario</th>
        @if (Model.galpon.Operario == null)
        {
             <th>              
                <a class= "btn btn-secondary" asp-page="./AddOperario" asp-route-id="@Model.galpon.Id">Asignar Operario2</a>
            </th>
        }
        else
        {
            <td>@Model.galpon.Operario.Nombre</td>
        }

      
    </tr>
    

 </table>
   <a class="btn btn-secondary" asp-page= ./Index1>Volver</a>