@page
@model GAvicola.App.Frontend.Pages.Galpones.indexModel
@{
<h1>Listado de Galpones</h1>
<table class="table tabe-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">NumAves</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Fecha Salida</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var galpon in Model.galpones)
         {
            <tr>
               <td> @galpon.Nombre</td>
               <td> @galpon.Latitud</td>
               <td> @galpon.Longitud</td>
               <td> @galpon.NumAves</td>
               <td> @galpon.Fecha_Ingreso</td>
               <td> @galpon.Fecha_Salida</td>
               <td><a class="btn btn-secondary" asp-page="" asp-route-id=@galpon.id>Detalle</a></td>
               <td><a class="btn btn-secondary" asp-page="" asp-route-id=@galpon.id>Editar</a></td>

                
            </tr> 
         }
    </tbody>

</table>
}
