@page
@model GAvicola.App.Frontend.Pages.Veterinarios.indexModel
@{
}

<h1>Lista Veterinarios</h1>
<a class= "btn btn-primary " asp-page=".\create">Crear Veterinario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
           
        </tr>
    </thead>


    @foreach (var Veterinario in Model.veterinarios)
    {
        <tr>
            <td>@Veterinario.Nombre</td>
            <td>@Veterinario.Documento</td>
            <td>@Veterinario.Telefono</td>
            <td>@Veterinario.Direccion</td>
            <td>@Veterinario.Correo</td>

            <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@Veterinario.Id">Detalle</a></td>
             <td><a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Veterinario.Id">Editar</a></td>
        </tr>
            
    }

       </tbody>
  </thead>
</table>